
<br>

{{#if game.turn}}
  {{sound-start}}

  <div class="row">
    <div class="col-xs-3">
      <center><h3>It's <span style="color:blue">{{game.turn}}</span>'s turn</h3></center>
      <hr>
      {{turn-image game.turn game.playerRed game.playerBlack}}
      <button {{action 'concedeGame'}} class="btn btn-warning">Concede</button>
    </div>

    <div class="col-xs-8">
      {{instruction-short}}
    </div>
  </div>

{{/if}}

<div id="winner" style="text-align: center"></div>

<div class="board">
  {{sound-background}}
  <!-- Row 0 -->
  <div class="row">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-1 grid" id="x0y0">
      0,0
    </div>
    <div class="col-xs-1 grid" id="x1y0" {{action 'gameClick' 'x1y0'}}>
      1,0
    </div>
    <div class="col-xs-1 grid" id="x2y0">
      2,0
    </div>
    <div class="col-xs-1 grid" id="x3y0" {{action 'gameClick' 'x3y0'}}>
      3,0
    </div>
    <div class="col-xs-1 grid" id="x4y0">
      4,0
    </div>
    <div class="col-xs-1 grid" id="x5y0" {{action 'gameClick' 'x5y0'}}>
      5,0
    </div>
    <div class="col-xs-1 grid" id="x6y0">
      6,0
    </div>
    <div class="col-xs-1 grid" id="x7y0" {{action 'gameClick' 'x7y0'}}>
      7,0
    </div>
    <div class="col-xs-2">

    </div>
  </div>

  <!-- Row 1 -->
  <div class="row">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-1 grid" id="x0y1" {{action 'gameClick' 'x0y1'}}>
      0,1
    </div>
    <div class="col-xs-1 grid" id="x1y1">
      1,1
    </div>
    <div class="col-xs-1 grid" id="x2y1" {{action 'gameClick' 'x2y1'}}>
      2,1
    </div>
    <div class="col-xs-1 grid" id="x3y1">
      3,1
    </div>
    <div class="col-xs-1 grid" id="x4y1" {{action 'gameClick' 'x4y1'}}>
      4,1
    </div>
    <div class="col-xs-1 grid" id="x5y1">
      5,1
    </div>
    <div class="col-xs-1 grid" id="x6y1" {{action 'gameClick' 'x6y1'}}>
      6,1
    </div>
    <div class="col-xs-1 grid" id="x7y1">
      7,1
    </div>
    <div class="col-xs-2">

    </div>
  </div>

  <!-- Row 2 -->
  <div class="row">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-1 grid" id="x0y2">
      0,2
    </div>
    <div class="col-xs-1 grid" id="x1y2" {{action 'gameClick' 'x1y2'}}>
      1,2
    </div>
    <div class="col-xs-1 grid" id="x2y2">
      2,2
    </div>
    <div class="col-xs-1 grid" id="x3y2" {{action 'gameClick' 'x3y2'}}>
      3,2
    </div>
    <div class="col-xs-1 grid" id="x4y2">
      4,2
    </div>
    <div class="col-xs-1 grid" id="x5y2" {{action 'gameClick' 'x5y2'}}>
      5,2
    </div>
    <div class="col-xs-1 grid" id="x6y2">
      6,2
    </div>
    <div class="col-xs-1 grid" id="x7y2" {{action 'gameClick' 'x7y2'}}>
      7,2
    </div>
    <div class="col-xs-2">

    </div>
  </div>

  <!-- Row 3 -->
  <div class="row">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-1 grid" id="x0y3" {{action 'gameClick' 'x0y3'}}>
      0,3
    </div>
    <div class="col-xs-1 grid" id="x1y3">
      1,3
    </div>
    <div class="col-xs-1 grid" id="x2y3" {{action 'gameClick' 'x2y3'}}>
      2,3
    </div>
    <div class="col-xs-1 grid" id="x3y3">
      3,3
    </div>
    <div class="col-xs-1 grid" id="x4y3" {{action 'gameClick' 'x4y3'}}>
      4,3
    </div>
    <div class="col-xs-1 grid" id="x5y3">
      5,3
    </div>
    <div class="col-xs-1 grid" id="x6y3" {{action 'gameClick' 'x6y3'}}>
      6,3
    </div>
    <div class="col-xs-1 grid" id="x7y3">
      7,3
    </div>
    <div class="col-xs-2">

    </div>
  </div>

  <!-- Row 4 -->
  <div class="row">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-1 grid" id="x0y4">
      0,4
    </div>
    <div class="col-xs-1 grid" id="x1y4" {{action 'gameClick' 'x1y4'}}>
      1,4
    </div>
    <div class="col-xs-1 grid" id="x2y4">
      2,4
    </div>
    <div class="col-xs-1 grid" id="x3y4" {{action 'gameClick' 'x3y4'}}>
      3,4
    </div>
    <div class="col-xs-1 grid" id="x4y4">
      4,4
    </div>
    <div class="col-xs-1 grid" id="x5y4" {{action 'gameClick' 'x5y4'}}>
      5,4
    </div>
    <div class="col-xs-1 grid" id="x6y4">
      6,4
    </div>
    <div class="col-xs-1 grid" id="x7y4" {{action 'gameClick' 'x7y4'}}>
      7,4
    </div>
    <div class="col-xs-2">

    </div>
  </div>

  <!-- Row 5 -->
  <div class="row">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-1 grid" id="x0y5" {{action 'gameClick' 'x0y5'}}>
      0,5
    </div>
    <div class="col-xs-1 grid" id="x1y5">
      1,5
    </div>
    <div class="col-xs-1 grid" id="x2y5" {{action 'gameClick' 'x2y5'}}>
      2,5
    </div>
    <div class="col-xs-1 grid" id="x3y5">
      3,5
    </div>
    <div class="col-xs-1 grid" id="x4y5" {{action 'gameClick' 'x4y5'}}>
      4,5
    </div>
    <div class="col-xs-1 grid" id="x5y5">
      5,5
    </div>
    <div class="col-xs-1 grid" id="x6y5" {{action 'gameClick' 'x6y5'}}>
      6,5
    </div>
    <div class="col-xs-1 grid" id="x7y5">
      7,5
    </div>
    <div class="col-xs-2">

    </div>
  </div>

  <!-- Row 6 -->
  <div class="row">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-1 grid" id="x0y6">
      0,6
    </div>
    <div class="col-xs-1 grid" id="x1y6" {{action 'gameClick' 'x1y6'}}>
      1,6
    </div>
    <div class="col-xs-1 grid" id="x2y6">
      2,6
    </div>
    <div class="col-xs-1 grid" id="x3y6" {{action 'gameClick' 'x3y6'}}>
      3,6
    </div>
    <div class="col-xs-1 grid" id="x4y6">
      4,6
    </div>
    <div class="col-xs-1 grid" id="x5y6" {{action 'gameClick' 'x5y6'}}>
      5,6
    </div>
    <div class="col-xs-1 grid" id="x6y6">
      6,6
    </div>
    <div class="col-xs-1 grid" id="x7y6" {{action 'gameClick' 'x7y6'}}>
      7,6
    </div>
    <div class="col-xs-2">

    </div>
  </div>

  <!-- Row 6 -->
  <div class="row">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-1 grid" id="x0y7" {{action 'gameClick' 'x0y7'}}>
      0,7
    </div>
    <div class="col-xs-1 grid" id="x1y7">
      1,7
    </div>
    <div class="col-xs-1 grid" id="x2y7" {{action 'gameClick' 'x2y7'}}>
      2,7
    </div>
    <div class="col-xs-1 grid" id="x3y7">
      3,7
    </div>
    <div class="col-xs-1 grid" id="x4y7" {{action 'gameClick' 'x4y7'}}>
      4,7
    </div>
    <div class="col-xs-1 grid" id="x5y7">
      5,7
    </div>
    <div class="col-xs-1 grid" id="x6y7" {{action 'gameClick' 'x6y7'}}>
      6,7
    </div>
    <div class="col-xs-1 grid" id="x7y7">
      7,7
    </div>
    <div class="col-xs-2">

    </div>
  </div>
</div>
